<section class="hero">
    <div class="hero-overlay"></div>
    <img src="quinceanera.jpg" class="hero-image" alt="Quinceañera">

    <div class="hero-content">
        <h3>Mis XV Años</h3>
        <h1>Valeria</h1>
        <p>Hay momentos que solo se viven una vez. Gracias por ser parte de este día tan especial.</p>

       <button id="openInvitation">
    Abrir Invitación
</button>
</div>

<!-- Audio de fondo (con src directo) -->
<audio id="bgMusic" src="music.mp3" loop preload="auto"></audio>
    Tu navegador no soporta audio.
</audio>

<button id="musicButton" class="music-btn">♪</button>
</section>
