<section class="story-scene">

    <div class="story-container">

        <h1 class="story-line">
            Hace 15 años...
        </h1>

        <h1 class="story-line">
            Comenzó una historia.
        </h1>

        <h1 class="story-line">
            Una historia llena de sueños.
        </h1>

        <h1 class="story-line">
            Hoy...
        </h1>

        <h1 class="story-line">
            Queremos compartirla con usted.
        </h1>

    </div>

</section>